h3{
    color:rgb(20, 111, 190);
    background-color: aqua;
}
.box{
    height:100px;
    width:100px;
    border:1px solid black;
    margin:5px;
    text-align:center;
    background-color: aquamarine;
}